{% extends "module.html.twig" %}

{% block section %}
    {{ include('distributor/tabs.html.twig', {current}) }}

    <h2>Jobs</h2>

    {% embed 'list/list.html.twig' with {
        route: 'page.distributor',
        useActions: true,
        useBulkActions: true,
        usePagination: true,
        useFilters: true,
        useSorting: true,
        filterNames: ['distributor/search', 'timing', 'distributor/type', 'distributor/status'],
        listLabel: 'Results',
        noResultsText: 'No jobs found.',
        showLabel: true,
        labelClass: '',
        linkLabelAction: 'edit',
        actionsClass: '',
        list,
        filters,
        navigation,
        filterBounds,
        navigationBounds
    } %}

        {% block listBulkActionsCustom %}
            <button type="submit" title="queue" name="action" value="queue" class="btn btn-default" disabled="disabled" data-action-type="bulk" data-confirm="Do you want to queue the selected jobs?">
                {{ include('t3-icon.html.twig', {name:'clock'}) }}
            </button>

            <button type="submit" title="run" name="action" value="run" class="btn btn-default" disabled="disabled" data-action-type="bulk" data-confirm="Do you want to run the selected jobs?">
                {{ include('t3-icon.html.twig', {name:'play'}) }}
            </button>
        {% endblock %}

        {% block tableHeadCustom %}
            <th class="nowrap">Status</th>
            <th class="nowrap">Changed</th>
            <th class="nowrap">Created</th>
        {% endblock %}

        {% block tableRowCustom %}
            <td>
                {{ include('distributor/status.html.twig', {item,expirationDate,stuckDate,maxExecutionTime}) }}
            </td>
            <td class="nowrap">
                {{ item.changed|date('Y-m-d H:i:s') }}
            </td>
            <td class="nowrap">
                {{ item.created|date('Y-m-d H:i:s') }}
            </td>
        {% endblock %}

        {% block tableRowActionsCustom %}
            {{ include('distributor/list/row-actions.html.twig', {item, permanentUri}) }}
        {% endblock %}

    {% endembed %}
{% endblock %}
