{% extends "module.html.twig" %}

{% block section %}
    {{ include('distributor/tabs.html.twig', {current}) }}

    <h2>Statistics</h2>

    <form method="post" action="{{ uri('page.distributor.' ~ current) }}" data-module="dmf-distributor-backend" data-form-type="show-statistics">
        {{ include('distributor/filters/timing-filters.html.twig', {filters,filterBounds}) }}
        {{ include('distributor/update-view.html.twig', {current,permanentUri,resetUri,filters,navigation}) }}
    </form>

    <h2>{{ statistics.all }} Jobs from {{ statistics.hashes }} Submissions</h2>

    <div class="my-4">
        {{ include('distributor/statistics/progress.html.twig', {statistics}) }}
    </div>

    <div>
        {{ include('distributor/statistics/overview-table.html.twig', {statistics,filters}) }}
    </div>
{% endblock %}
