{% extends "module.html.twig" %}

{% block section %}
    {{ include('distributor/tabs.html.twig', {current}) }}

    <h2>Errors</h2>

    {% embed 'list/list.html.twig' with {
        route: 'page.distributor',
        listAction: 'show-errors',
        useSorting: true,
        usePagination: true,
        useFilters: true,
        filterNames: ['timing'],
        listLabel: 'Results',
        noResultsText: 'No errors found. Well done.',
        list,
        filters,
        navigation,
        filterBounds,
        navigationBounds,
    } %}
        {% block tableHead %}
            <th>Error</th>
            <th>Count</th>
            <th>First seen</th>
            <th>Last seen</th>
            <th>Route(s)</th>
        {% endblock %}

        {% block tableRow %}
            <td>
                <a href="{{ uri('page.distributor.list', {filters:filters|merge({status:{failed:1},search:item.message,searchExactMatch:1})}) }}">
                    {{ item.message }}
                </a>
            </td>
            <td>{{ item.count }}</td>
            <td>
                <a href="{{ uri('page.distributor.edit', {id:error.firstSeen.id,returnUrl:uri('page.distributor.' ~ current, {filters,navigation})}) }}" title="{{ item.firstSeen.label }}">
                    {{ item.firstSeen.changed|date('Y-m-d H:i:s') }}
                </a>
            </td>
            <td>
                <a href="{{ uri('page.distributor.edit', {id:error.lastSeen.id,returnUrl:uri('page.distributor.' ~ current, {filters,navigation})}) }}" title="{{ item.lastSeen.label }}">
                    {{ item.lastSeen.changed|date('Y-m-d H:i:s') }}
                </a>
            </td>
            <td>
                {% for type,countPerType in item.types %}
                    <a href="{{ uri('page.distributor.list', {filters:filters|merge({type:{(type):1},status:{failed:1},search:item.message,searchExactMatch:1})}) }}">
                        {{ type }} ({{ countPerType }})
                        {% if not loop.last %}<br/>{% endif %}
                    </a>
                {% endfor %}
            </td>
        {% endblock %}
    {% endembed %}
{% endblock %}
